# Junk
.DS_Store
__pycache__

# VSCode
.vscode/*

# Logs
*log.txt

# Confidential
mysql_secrets.py
aws_secrets.py

# Folders
BA_Billing/*.csv
BA_Global/*.csv

# Miscellaneous
tables_global.txt
tables_billing.txt

